@font-face {
	font-family: 'Saira';
	src: url(../assets/fonts/Saira-Bold.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Saira';
	src: url(../assets/fonts/Saira-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}